@import 'app.css';

.icon-size-p {
    margin: 10px;
    font-size: larger;
}

.icon-size-p .bi {
    color: purple; /*bi = bootstrap icons */
}

.font-form {
    font-size: 22px;
}

.form-create {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-edit {
    height: 800px;
}


